/**
 * PhishGuard - Content Script Styles
 */

#phishguard-banner {
    font-size: 16px;
    line-height: 1.5;
}

#phishguard-banner strong {
    display: block;
    margin-bottom: 0.5rem;
}

#phishguard-banner p {
    margin: 0;
}
